body, html {
    height: 100%;
    margin: 0;
    padding:0;
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
}

/* La naviguation latérale*/

nav {
    height: 100%;
    width: 0;
    padding-top: 60px;
    /* Z-index 2 pour être au-dessus du titre de la page principale */
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f2329;
    overflow-x: hidden;
    transition: 0.5s;
    /* 0.5 second effet de transition pour son apparition */
}

nav p {
    width: 100%;
    padding: 8px 8px 0px 32px;
    display: block;
    text-align: justify;
    font-size: 25px;
    font-weight: 900;
    color: #23a6c9;
}

/* Les liens de la naviguation */

nav a {
    width: 100%;
    padding: 8px 8px 8px 32px;
    display: block;
    border: 0;
    background-color: #1f2329;
    text-align: justify;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    white-space: nowrap;
    transition: 0.3s;
}

nav a:hover {
    border: 0;
    background-color: #999;
    color: white;
    font-size: 1.75em;
}

nav .cv:hover {
    border: 0;
    background-color: #23a6c9;
    color: white;
}

/* Burger */

.bar {
    height: 3px;
    width: 30px;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 50px;
    background: #1f2329;
    transition: all .7s ease;
}

.burger {
    height: auto;
    width: auto;
    z-index: 2;
    position: fixed;
    top: 5px;
    left: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all .7s ease;
}

.middle {
    margin: 0 auto;
}

.burger:hover .top {
    transform: translateY(10px) rotateZ(45deg);
}

.burger:hover .bottom {
    transform: translateY(-10px) rotateZ(-45deg);
}

.burger:hover .middle {
    width: 0;
}

/* Redirige vers la page d'accueil */

#pegasus {
    position: fixed;
    left: 80px;
    z-index: 2;
    font-family: 'Open Sans';
    font-size: 25.5pt;
    color: #1f2329;
    cursor: pointer;
}


footer {
    padding: 5em;
    background: #1f2329;
    text-align: center;
    color: white;
}

footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
}

/* Icône */
ul {
    margin: 0 0 2em 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

ul.icons {
    cursor: default;
}

ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
}

ul.copyright li {
    display: inline-block;
    line-height: 1em;
    padding-left: 0.5em;
    padding-top: 1em;
}

.icon.circle.fa-twitter {
    background: #70aecd;
    color: #fff;
}

.icon.circle.fa-twitter:hover {
    background: #7fb7d2;
}

.icon.circle {
    height: 2.25em;
    width: 2.25em;
    left: 0;
    top: 0;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.icon {
    position: relative;
    text-decoration: none;
}

.icon.circle:hover {
    top: -0.2em;
}

.icon.circle.fa-twitter {
    background: #70aecd;
    color: #fff;
}

.icon.circle.fa-twitter:hover {
    background: #7fb7d2;
}

.icon.circle.fa-facebook {
    background: #7490c3;
    color: #fff;
}

.icon.circle.fa-facebook:hover {
    background: #829bc9;
}

.icon.circle.fa-google-plus {
    background: #db6b67;
    color: #fff;
}

.icon.circle.fa-google-plus:hover {
    background: #df7b77;
}

.icon.circle.fa-github {
    background: #dcad8b;
    color: #fff;
}

.icon.circle.fa-github:hover {
    background: #e1b89b;
}

.fa {
    font-size: 50px;
    color: #999;
}


/* Responsive: pour les plus petites fenêtres inférieures à 450px, la naviguation latérale à un padding-top et une écriture plus petite */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
